<head>
    <title>LinkU:动态</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>    
</head>
{% extends "footer.html"}
{% block content %}
<body style="margin-bottom:600px;padding-top:100px">
    <header>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li class="active">
                        <a href="/">全部</a> 
                    </li>
                    <li>
                        <a href="/exp">运营心法</a>
                    </li>
                    <li>
                        <a href="/case">商业案例</a>
                    </li>
                    <li>
                        <a href="/mkt">最新玩法</a>
                    </li>
                </ul> 
            </div>
        </div>
    </div>
    </header>
{% endblock %}

</body>